* {
    margin:0;
    padding:0;
}
header {
    text-align: center;
    height:100px;
    background-color: skyblue;
    color:#fff;
}
main {
    padding-top: 20px;
    font-size: 2rem;
    text-align: center;
}